<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.mapper.MemberMapper">
	<select id="selectAdmin" resultType="com.greenart.vo.AdminVO">
		SELECT ui_id AS id, ui_name AS name, ui_user_type AS user_type
		FROM user_info
		WHERE ui_id=#{id} AND ui_pwd=#{pwd}
	</select>
	<select id="selectMembers" resultType="com.greenart.vo.MemberVO">
		SELECT * FROM user_info;
	</select>
	<insert id="insertMember">
		INSERT INTO user_info(ui_id, ui_pwd, ui_name, ui_email)
		VALUES(#{ui_id}, #{ui_pwd}, #{ui_name}, #{ui_email})
	</insert>
	<select id="selectUserById" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM user_info WHERE ui_id=#{id}
	</select>
	<delete id="deleteUser">
		DELETE FROM user_info WHERE ui_seq=#{seq}
	</delete>
	<update id="updateUser">
		UPDATE user_info
		SET ui_id=#{ui_id}, ui_name=#{ui_name}, ui_email=#{ui_email}
		WHERE ui_seq=#{ui_seq}
	</update>
	<update id="changeUserPassword">
		UPDATE user_info SET ui_pwd=#{ui_pwd} WHERE ui_id=#{ui_id}
	</update>
</mapper>